.card-img-m-default-instance {
  background-image: url(https://c.animaapp.com/Q0Aoi51W/img/imagecontainer-cardimagetext-2@2x.png) !important;
  height: 228px !important;
  position: relative !important;
}

.card-img-m-default-2 {
  height: 228px !important;
}

.card-img-m-default-3 {
  top: 112px !important;
}
